* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.calc {
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 600px;
    max-width: 600px;
    padding: 1rem 1rem;
    background-color: #353535;
    border-radius: 20px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 4px black);
}

.screen {
    height: 50px;
    border-radius: 20px;  
    background-color: white;
    margin: 40px 40px 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    align-self: stretch;
    transition: all 400ms ease-in;
}

  .calc-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calc-row {
    display: flex;
    gap: 10px;
    margin: 10px;
  }

  .calc-row:first-child {
    margin: 30px 0;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .calc-button:hover {background-color: #c9c9c9}
  
  .calc-button:active {
    background-color: #c9c9c9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .calc-button {
    border-radius: 100%;
    background-color: beige;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px #98C;
    transition: all 100ms ease-in;
    font-weight: bold;
  }

  .calc-row:first-child .calc-button {
    background-color: rgb(240, 196, 76);
    box-shadow: 0 9px rgb(185, 180, 201);
  }
  

  .calc-row:first-child .calc-button:hover, .calc-row:last-child .calc-button:hover {background-color: #e7e7e7}
  
  .calc-row:first-child .calc-button:active,  .calc-row:last-child .calc-button:active {
    background-color: #a3a3a3;
    box-shadow: 0 5px #666;
  }

  .calc-row:last-child {
    flex-direction: column;
    position: absolute;
    gap: 20px;
    top: 126px;
    right: 28px;
  }

  .calc-row:last-child .calc-button {
    width: 80px;
    height: 80px;
    color:ivory;
    background-color: rgb(225, 143, 176);
    box-shadow: 0 9px rgb(185, 180, 201);
  }

  @media screen and (max-width: 570px) {
    .calc {
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 470px) {
    .calc {
      align-items: flex-start;
    }

    .calc-buttons {
      align-items: flex-start;
    }

    .calc-row:last-child {
      top: 212px;
      right: 0px;
    }
  }

  @media screen and (max-width: 400px) {
    .calc-button {
      width: 50px;
      height: 50px;
      font-size: 30px;
      box-shadow: 0 4px rgb(185, 180, 201);
    }

    .calc-row:first-child .calc-button {
      box-shadow: 0 4px rgb(185, 180, 201);
    }

    .calc-row:last-child .calc-button {
      width: 60px;
      height: 60px;
      box-shadow: 0 6px rgb(185, 180, 201);
    }
  }
